*{
    margin: 0%;
    list-style: none;
    text-decoration: none;

      
}

.list {
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
    padding: 30px;
    margin-bottom: 20px;

}
.header{
    background-color: aqua;
}



nav{
    width: 100vw;
    background-color: coral;
  }
  ul{
    margin-top: 40px;
    padding-left: 250px;
    display: flex;

  }
  
  body{
    margin: 0;
  }
  li{
    list-style-type: none;  
    

    margin: 0 2vw;
    font-size: 3vh;
  }

  
 .cards{
     display: grid;
     grid-template-columns: auto auto;
     gap: 50px 0px;
     margin-left: 50px;
 }
  .intro{
      text-align: center;
      font-family: ' Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      background-image: url('../images/pizza-house.jpg');
      background-size: cover;
      margin-top: 50px;
  }
  .menu{
      text-align: center;
  }
  .cards .card-body{
      background-color: pink;
      margin-right: 24px;
  }
  .cards a{
      background-color: purple;
  }

  a:hover{
    background-color: orange;
}
.container{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 120px 0px;
    padding: 50px;
    
}
.rowA p{
    opacity: 0.7;
}
